<header id="comercioTop" class="section-header">

	<section class="header-main bg">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-4">
					<div class="brand-wrap">
						<img class="logo" src="http://chdubar.com/typo3conf/ext/prueba_tpaga_skin/Resources/Public/images/logo-dark.png">
						<h2 class="logo-text">HANSY GAMES</h2>
					</div> <!-- brand-wrap.// -->
				</div>
				<div class="col-md-4">

				</div> <!-- col.// -->
				<div class="col-md-4">
					
				</div> <!-- col.// -->

			</div> <!-- row.// -->
		</div> <!-- container.// -->
	</section> <!-- header-main .// -->
</header> <!-- section-header.// -->